@color1:#0fbcfa;
html{
    @font-face {
        font-family: "bahnschrift";
        src: url("../bahnschrift.ttf");
    }
    font-family: "bahnschrift";
    background: #1f2933;
}
a{
  text-decoration: none;
}
* {
    padding: 0;
    margin: 0;
}

.logo{
    img{
        display: inline-block;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;
        width: 120px;
    }
}

.el-input__inner{
    color: #999!important;
    background-color: #192129!important;
    border: none!important;
    font-size: 8px!important;
}
.form{
    width: 85%;
    margin: 0 auto;
}
.header{
    background: url("../../public/img/1.png");
    background-size: 100%;
    .logo{
      padding-top: 90px;
      width: 85%;
      margin: 0 auto
    }
    .logintitle{
      color: white;
      font-size: 19px;
          width: 85%;
      margin: 0 auto;
      margin-top: 60px;
    }
    padding-bottom: 26px
  }
  .language{text-align: right;
      justify-content: center;
      line-height: 40px;
    img{
      width: 16px;
    }
  }
  .el-select{
    float: right;
      border: none;
      width: 18%;
      font-size: 8px;
      .el-input__inner{
          border: none;
          background:#192129;
          color: white;
          padding-left: 10px
  
      }
  }
  .el-input__suffix{
  display: none;
  
  }
  .el-input--suffix .el-input__inner{
      padding-right: 0px!important;
  }
  .el-select-dropdown{
          background:#192129!important;
          color:white!important;
          border:none!important;
  }
  .el-select-dropdown__list{
    padding: none
  }
  .el-popper[x-placement^=bottom] .popper__arrow::after{
    color: #192129
  }
  .el-select-dropdown__item.selected{
            background:#192129!important;
  }
  .el-select-dropdown__item.selected{
    color: white!important;
  }
  .el-input-group__append , .el-input-group__prepend, .el-input-group__prepend select{
    border: none!important;
    background: #192129!important;
    color: #0fbcfa!important;
    border-left: 0;
}
.el-input-group__prepend select{
  border:none;
  margin-bottom: 3px;
  line-height: 1.5;
}
.el-footer{
  text-align: center;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: #192129;
  bottom: 0;
  .iconfont{
    line-height: 60px;
    font-size: 28px;
    color: #999;
  }
  .active{
    i{
      color: #0fbcfa;
    }
  }
}
.msghead{
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 20px 0 20px;

}
.content{
  color: white;
}
.el-tabs__nav{
  width: 100%!important;
}
.el-tabs__item{
  color: #fff!important;
  width: 50%!important;
  text-align: center;
  padding: 0!important;
}
.el-tabs__nav-wrap::after{
  background-color:#1f2933!important
}


 
  


